
h1{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0;
    color:#fff;
}
p{
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
}
a{
    color: #fff;
}
.outer_container{
    height: 70vh;
    display: flex;
    align-items: center;
    background-color:#0d6f4b;
    margin-bottom: 0;
}

.header_image{
    background: -webkit-linear-gradient(45deg, black,transparent);
}

#first-webpage{
    background-color:#333447;
    padding: 5em 0;
    text-align: center;
}
/* #first-webpage:hover a{
    background-color: yellow;
    width: 100%;
} */
#second-webpage{
    background-color: #3f8f67;
    padding: 5em 0;
    text-align: center;
}
#first-webpage a,#second-webpage a{
    text-decoration: none;
    padding: 5em 3em;
}
.header_image{
    width: 45%;
    margin:auto;
    border-radius: 50%;
}
.header_image img{
    width: 100%;
    border-radius: 50%;
}

.footer{
    background-color: #258e67;
}

.footer p{
    margin: 0.5rem 2%;
    font-size: 1rem;
    /* padding: 1.5rem; */
    text-align: center;
}

@media only screen and (min-width: 45em){
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
    a{
        font-size: 13px;
    }
    #first-webpage{
        background-color:#3f8f67;
        padding: 5em 0;
    }
    #second-webpage{
        background-color: #3f8f67;
        padding: 5em 0;
    }
    #first-webpage a,#second-webpage a{
        text-decoration: none;
        padding: 3.5em;
        background-color: black;
    }
}
